{:type-ids {"Str" 3, "else" 12, "Rec" 9, "Unit" 1, "InitialT" 21, "Vec" 6, "GuideT" 20, "Map" 7, "KeyedList" 11, "SchemaNumberT" 16, "KeyMap" 10, "HandTypeT" 25, "TokenT" 17, "HandStatsT" 26, "Bool" 4, "InputDataT" 19, "CubeNumsT" 14, "RaceT" 24, "OriginT" 13, "CardT" 18, "InputLineT" 23, "CategoryMapT" 22, "Num" 2, "GameT" 15, "Maybe" 5, "Set" 8}, :variant-ids {13 {"Front" 1, "Back" 2}, 17 {"Digit" 1, "Symbol" 2, "Dot" 3}, 21 {"Item" 1, "Range" 2}, 23 {"Noop" 1, "InitialSeeds" 2, "MapHeader" 3, "MapEntry" 4}, 25 {"Kind5" 1, "Kind4" 2, "Kind3" 3, "Kind2" 4, "Kind1" 5, "FullHouse" 6, "TwoPair" 7}}}
