{:type-ids {"Str" 2, "else" 10, "Rec" 7, "Vec" 5, "Map" 6, "KeyedList" 9, "SchemaNumberT" 14, "KeyMap" 8, "TokenT" 15, "Bool" 3, "CubeNumsT" 12, "OriginT" 11, "Num" 1, "GameT" 13, "Maybe" 4}, :variant-ids {11 {"Front" 1, "Back" 2}, 15 {"Digit" 1, "Symbol" 2, "Dot" 3}}}
