{:type-ids {"Str" 3, "else" 12, "Rec" 9, "Unit" 1, "InitialT" 16, "Vec" 6, "GuideT" 15, "DirectionT" 19, "Map" 7, "KeyedList" 11, "SchemaNumberT" 25, "InstT" 35, "KeyMap" 10, "HandTypeT" 27, "TokenT" 26, "LoopZT" 23, "HandStatsT" 28, "Bool" 4, "InputDataT" 14, "NavInputT" 21, "CubeNumsT" 30, "RaceT" 29, "PosT" 33, "OriginT" 24, "CardT" 13, "InputLineT" 18, "CrumbT" 22, "DirT" 34, "CategoryMapT" 17, "NodeT" 20, "Num" 2, "PatternT" 32, "GameT" 31, "Maybe" 5, "Set" 8}, :variant-ids {16 {"Item" 1, "Range" 2}, 18 {"Noop" 1, "InitialSeeds" 2, "MapHeader" 3, "MapEntry" 4}, 19 {"Left" 1, "Right" 2}, 24 {"Front" 1, "Back" 2}, 26 {"Digit" 1, "Symbol" 2, "Dot" 3}, 27 {"Kind5" 1, "Kind4" 2, "Kind3" 3, "Kind2" 4, "Kind1" 5, "FullHouse" 6, "TwoPair" 7}, 34 {"Up" 1, "Down" 2, "Left" 3, "Right" 4}}}
